html, body {
    height: 100%;
}

body {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#headsup {
    font-family: 'Courier New';
    position: relative;
    color: white;
    text-align: left;
    padding: 40px;
    width: 640px;
}

#headsup > .hud-text {
    text-align: right;
    padding: 0px;
    margin: 0px;
}

#viewport {
    width: 640px;
    height: 256px;
    position: relative;
    overflow-x: auto;
    background-image: url('../images/water0.png');
}

#ports {
    margin-top: 96px;
    display: flex;
    justify-content: space-around;
}

#ports > .port {
    width: 64px;
    height: 32px;
    background-image: url('../images/port.png');
}

#ship {
    background-image: url('../images/ship.png');
    position: absolute;
    width: 128px;
    height: 64px;
}

#sailbutton {
    font-family: 'Press Start 2P';
    border: 0px;
    background-color: #FB3640;
    border-bottom: 4px solid #d8040f75;
    color: white;
    padding: 10px 20px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;

}

#message {
    font-family: 'Press Start 2P';
    border: 0px;
    background-color: white;
    border-top: 3px solid black;
    padding: 16px;
    width: 100%;
    position: absolute;
    bottom: 0;
}

